<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FKIP</title>
</head>
<body>
    <center>
        <h1>Fakultas Keguruan dan Ilmu Pendidikan</h1>
    </center>
    
    <h2>Terdiri dari prodi-prodi</h2>

    {% for fkip in fkip %}
    <li>{{ fkip }}</li>
    {% endfor %}

    <!-- <p>Jurusan Pendidikan Nonformal</p>
    <p>Jurusan Pendidikan Bahasa Indonesia</p>
    <p>Jurusan Pendidikan Bahasa Inggris</p>
    <p>Jurusan Pendidikan Biologi</p>
    <p>Jurusan Pendidikan Matematika</p>
    <p>Jurusan Pendidikan Guru Sekolah Dasar</p>
    <p>Jurusan Pendidikan Guru PAUD</p>
    <p>Jurusan Bimbingan dan Konseling</p>
    <p>Jurusan Pendidikan Fisika</p>
    <p>Jurusan Pendidikan Ilmu Pengetahuan Alam</p>
    <p>Jurusan Pendidikan Kimia</p>
    <p>Jurusan Pendidikan Khusus</p>
    <p>Jurusan Pendidikan Pancasila dan Kewarganegaraan</p>
    <p>Jurusan Pendidikan Sejarah</p>
    <p>Jurusan Pendidikan Seni dan Pertunjukan</p>
    <p>Jurusan Pendidikan Sosiologi</p>
    <p>Jurusan Pendidikan Vokasional Teknik Elektro</p>
    <p>Jurusan Pendidikan Vokasional Teknik Mesin</p> -->
</body>
</html>