<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEB</title>
</head>

<body>
    <center>
        <h1>Fakultas Ekonomi dan Bisnis</h1>
    </center>
    <h2>Terdiri dari prodi-prodi : </h2>

    {% for feb in feb %}
    <li>{{ feb }}</li>
    {% endfor %}
    <!-- <p>Program Sarjana Managemen</p>
    <p>Sarjana Akuntansi</p>
    <p>Program Sarjana Ilmu Ekonomi Pembangunan</p>
    <p>Program Sarjana Ekonomi Syariah</p>
    <p>Program Diploma III Akuntansi</p>
    <p>Program Diploma III Marketing</p>
    <p>Program Diploma III Perpajakan</p>
    <p>Program Diploma III Keuangan Perbankan</p> -->
</body>

</html>