<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pascasarjana</title>
</head>
<body>
    <center>
        <h1>Pascasarjana</h1>
    </center>
    <h2>Terdiri dari prodi-prodi</h2>

    {% for pc in pc %}
    <li>{{ pc }}</li>
    {% endfor %}

    <!-- <p>Doktor Pendidikan</p>
    <p>Doktor Ilmu Akuntansi</p>
    <p>Magister Ilmu Hukum</p>
    <p>Magister Ilmu Pertanian</p>
    <p>Magister Administrasi Publik</p>
    <p>Magister Akuntansi</p>
    <p>Magister Ilmu Komunikasi</p>
    <p>Magister Manajemen</p>
    <p>Magister Teknik Kimia</p>
    <p>Pendidikan Bahasa Indonesia</p>
    <p>Pendidikan Bahasa Inggris</p>
    <p>Pendidikan Matematika</p>
    <p>Teknologi Pendidikan</p> -->
</body>
</html>