<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakultas Pertanian</title>
</head>
<body>
    <center>
        <h1>Fakultas Pertanian</h1>
    </center>
    <h2>Terdiri dari prodi-prodi</h2>

    {% for faper in faper %}
    <li>{{ faper }}</li>
    {% endfor %}

    <br>

    riny anggraeni
    <!-- <p>Program Studi Agribisnis</p>
    <p>Program Studi Agroekoteknologi</p>
    <p>Program Studi Ilmu Perikanan</p>
    <p>Program Studi Teknologi Pangan</p> -->
</body>
</html>